<!DOCTYPE html>
<html>
	<head>
		<title>Skills Survey: MAIN</title>
		<link rel="stylesheet" href="survey.css" />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<script src="../tag.js"></script>
		<script src="databaseLists.js"></script>
		<script src="DropDownCheckBoxList.js"></script>
		<script src="makeAWSServicesTable.js"></script>
		<script src="makeAWSCertificationsTable.js"></script>
		<script src="makeDevLangTable.js"></script>
		<script src="makeDevToolTable.js"></script>
		<script src="makeDevOpsTable.js"></script>
		<script src="makeDevSecOpsTable.js"></script>
		<script src="makeDataOpsTable.js"></script>
		<script src="makeMLOpsTable.js"></script>
		<script src="makeConsultingTable.js"></script>
		<script src="makeRolesTable.js"></script>
		<script src="makeDevOpsImplementationMatrix.js"></script>
		<script src="makeDevOpsAutoIntegrationTable.js"></script>

		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

		<script>            
            let gLevels = {}
            let gMethods = {}
            let gAcquiredBy = {}
            let levels = {}
            let methods = {}

			let gotoDashboard = function(){
				location.href = "reports.html";
			}
			let gotoUserCRUD = function(){
				location.href = "userCRUD.html";
			}
			let gotoHealthCheck = function(){
				location.href = "healthCheck.html";
			}
			var mainTableId = ''
			var selId
			var consultantId

			let cl = console.log
			let getElxId = function( pId ){ return document.getElementById( pId ) }

			let loadConsultant = function(){ 
				cl("Loading " + getElxId( selId ).value )
				getElxId( consultantId ).innerHTML = getElxId( selId ).value + " Survey"
			}

			let bulidMainMenu = function( targetParentId ){
				mainTableId = tag('table', targetParentId, '', {width:"95%;"} )
				let tr1Id = tag('tr', mainTableId, '', {} )
				let tdr1td1Id =tag('td', tr1Id, '', {} )
				let menuAreaId = tag('td', tr1Id, '', {} )
				tag('td', tr1Id, '', {} )
                let logoId = tag('button',menuAreaId,'',{class:'logo', style:"width:185px; height:80px;"})
                tag('img',logoId,'',{src:'../../static/logo.png', alt:"Girl in a jacket", width:"165", height:"60" })
                tag('text',menuAreaId,"SKILLS SURVEY",{ style:'font-size:35px; float:right;' })
                tag('p',menuAreaId,'',{})
				tag('button', menuAreaId, 'User CRUD',{
					style:" width: 25%;", 
					class:"menuButton",
					onclick:"gotoUserCRUD();",
				})
				tag('button', menuAreaId, 'Generate Profile',{
					style:" width: 25%;", 
					class:"menuButton", 
					onclick:"gotoGenerateProfile();"
				})
				tag('button', menuAreaId, 'Reports',{
					style:" width: 25%;", 
					class:"menuButton", 
					onclick:"gotoDashboard();"
				})
				tag('button', menuAreaId, 'Exam Manager',{
					style:" width: 25%;", 
					class:"menuButton", 
					onclick:"gotoDashboard();"
				})
				tag('br',menuAreaId,'',{})

				tag('button', menuAreaId, 'HealthCheck',{
					style:" width: 25%;", 
					class:"menuButton", 
					onclick:"gotoHealthCheck();"
				})

				tag('br',menuAreaId,'',{} )
				tag('label',menuAreaId,'Select Consultant for Survey data loading:',{} )
				selId = tag('select',menuAreaId,'',{
					class:"menuButton",
					width:"25%",
					onchange:"loadConsultant();"
				})
				// use ConsultantsList to populate drop down
				for( let i in dbResults.ConsultantsList ){
					tag('option', selId, dbResults.ConsultantsList[ i ],{ 
						'value': dbResults.ConsultantsList[ i ]
					})
				}

				let tr2Id = tag('tr', mainTableId, '', {} )
				tag('td', tr2Id, '', {} )
				let surveyAreaId = tag('td', tr2Id, '', { class:'ocean'} )
				tag('td', tr2Id, '', {} )

				return surveyAreaId
			}

			let buildSurveyLayout = function( targetParentId ){				
				consultantId = tag('h3', targetParentId, '[Select a Consultant Name above]',
					{'style':"color:white; text-align: center;"} )
				tag('h5', targetParentId, 'created(date), last update(date) ',
					{'style':"color:white;"} )
				let startSurveyButtonId = tag('button', targetParentId, 'Start New Survey',{class:'menuButton'})
				getElxId( startSurveyButtonId ).visible

				tag('button', targetParentId, '[Resource Name Details]',{'class':"collapsible"} )

				let p1 = tag('div', targetParentId, '', {'class':"content"} )
				let d1 = tag('div',p1,'',{width:"90%" })
				tag('br',d1,'',{} )
                tag('text',d1,'Current Engagement: Project Code#',{})
				tag('input',d1,'',{ size:8 })

				tag('p',d1,'',{})
                //tag('br',p1,'',{} )
                let s1 = tag('span',d1,'',{style:"align-items: center;"})
                tag('text',s1,'Engagement End Date',{style:"align-items: center;"})
				tag('input',s1,'',{ size:10 })
				
				tag('p',d1,'',{})
				tag('br',p1,'Education',{} )
                tag('text',d1,'Education History',{})
                tag('textarea',d1,'',{})
				
				makeAWSCertificationsTable( targetParentId, '3', 'AWS Certifications', dbResults.certList,"35%",{
                    'title':'AWSCertificationsTable',
                    'label':'AWS Certifications',
                    'pParentId':targetParentId,
                    'index':'3',
                    'dbList':dbResults.certList,
                    'percentage':"35%"
                 } )
				makeConsultingTable( targetParentId, '8', 'Consulting Expertise', dbResults.consultingList,"35%" )
				makeRolesTable({
                    'title':'RolesTable',
                    'label':'Roles',
                    'pParentId':targetParentId,
                    'index':'1',
                    'dbList':dbResults.rolesList,
                    'percentage':"100%"
                } )
				makeDevToolsTable({
                    'title':'DevToolsTable',
                    'label':'Dev Tools Expertise (containerized IDE, basic repo, secrets management)',
                    'pParentId':targetParentId,
                    'index':'2',
                    'dbList':dbResults.devToolList,
                    'percentage':"30%"
                })
				makeAWSServicesTable({
                    'title':'AWSServicesTable',
                    'label':'AWS Services',
                    'pParentId':targetParentId,
                    'index':'1',
                    'dbList':dbResults.serviceList,
                    'percentage':"100%"
                })
				makeDevLangTable({
                    'title':'DevLangTable',
                    'label':'Dev Language Expertise (language sets and Operating Systems)',
                    'pParentId':targetParentId,
                    'index':'4',
                    'dbList':dbResults.devLanguageList,
                    'percentage':"30%"
                } )
				makeDevOpsTable({
                    'title':'DevOpsTable',
                    'label':'DevOps Expertise (UI/CLI/IaC progressions for pipelines and basic account LeastPrivilegedAccess)',
                    'pParentId':targetParentId,
                    'index':'5',
                    'dbList':dbResults.devOpsList,
                    'percentage':"60%"
                 } )
				makeDevSecOpsTable({
                    'title':'DevSecOpsTable',
                    'label':'DevSecOps Expertise (standards, best practices, security frameworks, guardrails, tooling)',
                    'pParentId':targetParentId,
                    'index':'6',
                    'dbList':dbResults.devSecOpsList,
                    'percentage':"45%"
                })
				makeDataOpsTable({
                    'title':'DataOpsTable',
                    'label':'DataOps Expertise',
                    'pParentId':targetParentId,
                    'index':'7',
                    'dbList':dbResults.dataOpsList,
                    'percentage':"22%"
                 } )
				makeMLOpsTable({
                    'title':'MLOpsTable',
                    'label':'MLOps Expertise',
                    'pParentId':targetParentId,
                    'index':'8',
                    'dbList':dbResults.mlOpsList,
                    'percentage':"29%"
                })

				makeDevOpsImplementationMatrix( targetParentId,"DevOps Implmentation Matrix", dbResults.DevOpsImplementationList );
				makeDevOpsAutoIntegrationTable( targetParentId,'9',"DevOps Automated Integration", dbResults.DevOpsAutoIntegrationList,"25%" );
				setupCollapsibles()// apply collapsible to all of the newly created elements
//				showSummaryGraph( targetParentId, dbResults )
//				makeChart( targetParentId )
			}

			let setupCollapsibles = function(){
				let coll = document.getElementsByClassName("collapsible");
				for (let i = 0; i < coll.length; i++) {
					coll[i].addEventListener("click", function() {
						this.classList.toggle("active");
						let content = this.nextElementSibling;
						if (content.style.display === "block") {
							content.style.display = "none";
						} else {
							content.style.display = "block";
						}
					});
				}
			}
/*
			let makeChart = function( pId )
			{
				const data = {
					labels: [
						'Eating',
						'Drinking',
						'Sleeping',
						'Designing',
						'Coding',
						'Cycling',
						'Running'
					],
					datasets: [{
						label: 'My First Dataset',
						data: [65, 59, 90, 81, 56, 55, 40],
						fill: true,
						backgroundColor: 'rgba(255, 99, 132, 0.2)',
						borderColor: 'rgb(255, 99, 132)',
						pointBackgroundColor: 'rgb(255, 99, 132)',
						pointBorderColor: '#fff',
						pointHoverBackgroundColor: '#fff',
						pointHoverBorderColor: 'rgb(255, 99, 132)'
					}, {
						label: 'My Second Dataset',
						data: [28, 48, 40, 19, 96, 27, 100],
						fill: true,
						backgroundColor: 'rgba(54, 162, 235, 0.2)',
						borderColor: 'rgb(54, 162, 235)',
						pointBackgroundColor: 'rgb(54, 162, 235)',
						pointBorderColor: '#fff',
						pointHoverBackgroundColor: '#fff',
						pointHoverBorderColor: 'rgb(54, 162, 235)'
					}]
				};

				const config = {
					type: 'radar',
					data: data,
					options: {
						elements: {
						line: {
							borderWidth: 3
						}
						}
					},
				};

				let chart1Id = tag('div', pId, '', {} )
				tag( 'canvas', chart1Id, '', { id:"myChart1" })

				var myChart = new Chart(
					document.getElementById('myChart1'),
					config
				);
			}


			let renderGraph = function( pChartId, pTargetId, pConfig )
			{
				let chartId = tag('div', pTargetId, '', {} )
				tag( 'canvas', chartId, '', { id: pChartId })

				var myChart = new Chart(
					document.getElementById( pChartId ),
					pConfig
				);
			}

			let showSummaryGraph = function( g_rulesAndResultsContainerId, resultsObject )
			{// resultsObject is normally an XHR read from a database returning json
				let labelNames = {}
				for( let idx in resultsObject ){
					labelNames[ resultsObject[ idx ] ] = {}
					labelNames[ resultsObject[ idx ] ].name = idx
					let cntr = 0;
					for( let n in resultsObject[ idx ] ){
						//console.log(idx + ' has ' + resultsObject[ idx ][ n ] + " " + cntr ) 
						cntr++
					}
					labelNames[ resultsObject[ idx ] ].count = cntr
				}

				let rotatingFillColors = [
					'rgba(255, 99, 132, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(205, 155, 0, 0.2)',
					'rgba(75, 192, 192, 0.2)',
					'rgba(153, 102, 255, 0.2)',
					'rgba(255, 159, 64, 0.2)',
				];

				let rotatingBorderColors = [
					'rgba(255, 99, 132, 1)',
					'rgba(54, 162, 235, 1)',
					'rgba(205, 155, 0, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)',
				];

				let nameList = []
				let countList = []
				let rotatingIdx = 0
				let rotatingMaxIdx = 5
				let barColors = []
				let barBackgrounds = []
				for( let idx in labelNames ){
					//console.log("idx: " + labelNames[ idx ].name + " " +  labelNames[ idx ].count )
					if( labelNames[ idx ].name != undefined ){
						nameList.push(labelNames[ idx ].name);  //+= "'"+labelNames[ idx ].name+"',"
						countList.push(labelNames[ idx ].count) //+= "'"+labelNames[ idx ].count+"',"
						barColors.push( rotatingFillColors[ rotatingIdx ] )
						barBackgrounds.push( rotatingBorderColors[ rotatingIdx ] )
						rotatingIdx++
						if( rotatingIdx === rotatingMaxIdx) rotatingIdx = 0
					}
				}
				console.log("NAME.LIST: " + nameList )

				const chartData = {
					labels: nameList,
					datasets: [{
						label: '% of Skills',
						data: countList,
						backgroundColor: barColors,
						borderColor: barBackgrounds,
						borderWidth: 1
					}]
				};

				const chartConfig = {
					type: 'bar',
					data: chartData,
					options: {
						scales: {
							yAxes: [{
								ticks: {
									beginAtZero: true
								}
							}]
						}
					}
				};
				renderGraph( 'myChart7', g_rulesAndResultsContainerId, chartConfig )
			}// end of makeStylesCountGraph
*/
		</script>
	</head>

<!-- ############################################################################################################ -->
<!-- ############################################################################################################ -->
<!-- ############################################################################################################ -->
<!-- ############################################################################################################ -->
<!-- ############################################################################################################ -->

	<body id='1'>
		<script>
			let x = document.getElementsByTagName('body')
			let bodyId = x[ 0 ].id
			
			let mainSurveyAreaId = bulidMainMenu( bodyId )
			buildSurveyLayout( mainSurveyAreaId )
		</script>
	</body>
</html>