<!DOCTYPE html>
<html>
	<head>
		<title>Skills Survey: MAIN</title>
		<link rel="stylesheet" href="surveyCSS" />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<script src="tagJS"></script>
		<script src="databaseListsJS"></script>
		<script src="DropDownCheckBoxListJS"></script>

		<script src="makeSurveyListJS"></script>
        <script src="makeSurveySubjectJS"></script>
		<script src="makeDevOpsImplementationMatrixJS"></script>
        
        <script src="XHR"></script>


		<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

		<script>            
            let gApp = {
                // This is the global data capture, both build and results of the survey
                // which will be the main data blob saved to the mysql BLOB field for
                // each engineer
                blob:{}
            }
			// route table
			let gotoDashboard = function(){			location.href = "reportsHTML";}
			let gotoUserCRUD = function(){			location.href = "userCRUDHTML";}
			let gotoHealthCheck = function(){		location.href = "healthCheckHTML";}
			let gotoCertManger = function(){		location.href = "certManagerHTML";}
			let gotoSearchForSkills = function(){	location.href = "searchSkillsHTML";}

            let gLevels = {}
            let gMethods = {}
            let gAcquiredBy = {}
            let levels = {}
            let methods = {}

			var mainTableId = ''
			var gSelectId = 0
            var gFilterId = 0

            var gCells = {}
            
			var consultantId

			let cl = console.log
			let getElxId = function( pId ){ return document.getElementById( pId ) }

			let loadConsultant = function(){ 
				cl("Loading " + getElxId( gSelectId ).value )
				getElxId( consultantId ).innerHTML = getElxId( gSelectId ).value + " Survey"
                gApp.blob[ getElxId( gSelectId ).value ] = {
                    name:getElxId( gSelectId ).value,
                    basic:1
                }
                cl("Put " + getElxId( gSelectId ).value + " in the " + gApp.blob[ getElxId( gSelectId ).value ].name + " space ... ")
                // hit database to get this user's survey history and update the UI 
                // with latest survey date or status.
                
                XHR({
                    method:"POST",
                    url:"/MySQLIO",// this should be "endpoint" not "url"
                    syncMode:true,
                    log:'quiet',
                    dataPackage:
                        // put session auth here
                        "&query=getUserData" 
                        +"&trg=" + getElxId( gSelectId ).value
                    ,callback:function(obj){ parseOneUsersDBData( obj ) }
                })
			}
            let parseOneUsersDBData = function( pObj ){
                let userData = JSON.parse( pObj )
                cl("One Users data: " + JSON.stringify( userData ) )
            }


			let bulidMainMenu = function( targetParentId ){
				mainTableId = tag('table', targetParentId, '', {width:"95%;"} )
				let tr1Id = tag('tr', mainTableId, '', {} )
				let tdr1td1Id =tag('td', tr1Id, '', {} )
				let menuAreaId = tag('td', tr1Id, '', {} )
				tag('td', tr1Id, '', {} )
                let logoId = tag('button',menuAreaId,'',{class:'logo', style:"width:185px; height:80px;"})
                tag('img',logoId,'',{src:'logoPNG', alt:"Girl in a jacket", width:"165", height:"60" })
                tag('text',menuAreaId,"SKILLS SURVEY",{ style:'font-size:35px; float:right;' })
                tag('p',menuAreaId,'',{})
				tag('button', menuAreaId, 'Search for Skills',{
					style:" width: 25%;", 
					class:"menuButton",
					onclick:"gotoSearchForSkills();",
				})
				tag('button', menuAreaId, 'Customize JDs',{
					style:" width: 25%;", 
					class:"menuButton",
					onclick:"gotoUserCRUD();",
				})
				tag('button', menuAreaId, 'Generate Profiles',{
					style:" width: 25%;", 
					class:"menuButton", 
					onclick:"gotoGenerateProfile();"
				})
				tag('button', menuAreaId, 'Reports',{
					style:" width: 25%;", 
					class:"menuButton", 
					onclick:"gotoDashboard();"
				})
				tag('button', menuAreaId, 'Certifications Manager',{
					style:" width: 25%;", 
					class:"menuButton", 
					onclick:"gotoCertManger();"
				})
				tag('button', menuAreaId, 'User CRUD',{
					style:" width: 25%;", 
					class:"menuButton",
					onclick:"gotoUserCRUD();",
				})
				tag('button', menuAreaId, 'HealthCheck',{
					style:" width: 25%;", 
					class:"menuButton2", 
					onclick:"gotoHealthCheck();"
				})



				tag('br',menuAreaId,'',{} )
				tag('label',menuAreaId,'Select Consultant for Survey data loading:',{} )
				gSelectId = tag('select',menuAreaId,'',{
					class:"menuButton",
					width:"25%",
					onchange:"loadConsultant();"
				})
                getUsersFromDB('all')

				tag('label',menuAreaId,'Filter:',{} )
				gFilterId = tag('select',menuAreaId,'',{
					class:"menuButton",
					width:"25%",
                    onchange:'getUsersFromDB();'
				})
                tag('option', gFilterId, 'all',{            'value': 'ALL' })
                tag('option', gFilterId, 'only active',{    'value': '1' })
                tag('option', gFilterId, 'only inactive',{  'value': '0' })

				let tr2Id = tag('tr', mainTableId, '', {} )
				tag('td', tr2Id, '', {} )
				let surveyAreaId = tag('td', tr2Id, '', { class:'ocean1'} )
				tag('td', tr2Id, '', {} )

				return surveyAreaId
			}


            let getUsersFromDB = function(){
                // YET ANOTHER Fn MYSTERY I can't reference getElxId( gFilterId ).value here ... but I can in the loop. 
                //cl( "getUsersFromDB(): What is typeof getElxId( gFilterId )" + typeof getElxId( gFilterId ) + " and " + getElxId( gFilterId ).value )
                //cl( "getUsersFromDB(): What is typeof getElxId( gFilterId )" + typeof getElxId( gFilterId ) + " and " + getElxId( gFilterId ).['value'] )
                //cl( "getUsersFromDB(): What is typeof getElxId( gFilterId )" + typeof getElxId( gFilterId ) + " and " + getElxId( gFilterId ).getAttribute('value') )
                //cl( "getUsersFromDB(): What is typeof getElxId( gFilterId )" + typeof getElxId( gFilterId ) + " and " + getElxId( gFilterId ).getAttribute(value) )
                // FOR WHATEVER GOD FORSAKEN REASON, I HAVE TO SEARCH AND REFERENCE 'VALUE' THIS WAY.  FUCK!!!!!
                let filter = ''
                for(let i in getElxId( gFilterId ) ){
                    cl("  " + i )
                    if( i === 'value' ){
                        cl("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!" + getElxId( gFilterId )[ i ] );
                        filter = getElxId( gFilterId )[ i ]
                    }
                }
                let cfg = {
                    method:"POST",
                    url:"/MySQLIO",// this should be "endpoint" not "url"
                    syncMode:true,
                    log:'quiet',
                    dataPackage:
                        // put session auth here
                        "&query=getUserData" 
                        +"&filter=" + filter
                    ,callback:function(obj){ parseUserDBData( obj ) }
                }
                XHR( cfg )
            }
            let parseUserDBData = function( pObj ){
                let users = JSON.parse( pObj )
                // remove the old list
                while ( getElxId( gSelectId ).lastChild ) {
                    cl( ".. removing an entry") 
                    getElxId( gSelectId ).removeChild( getElxId( gSelectId ).lastChild);
                }
                // add the new list
				for( let i in users ){
					tag('option', gSelectId, users[ i ]['name_first'] + " " + users[ i ]['name_last'],{ 
						'value': users[ i ]['name_first'] + " " + users[ i ]['name_last']
					})
				}
            }


			let buildSurveyLayout = function( targetParentId ){				
				consultantId = tag('h3', targetParentId, '[Select a Consultant Name above]',
					{'style':"color:white; text-align: center;"} )
				tag('h5', targetParentId, 'created(date), last update(date) ',
					{'style':"color:white;"} )
				let startSurveyButtonId = tag('button', targetParentId, 'Start New Survey',{class:'menuButton'})
				getElxId( startSurveyButtonId ).visible

				tag('button', targetParentId, '[Resource Name Details]',{'class':"collapsible"} )

				let p1 = tag('div', targetParentId, '', {'class':"content"} )
				let d1 = tag('div',p1,'',{width:"90%" })
				tag('br',d1,'',{} )
                tag('text',d1,'Current Engagement: Project Code#',{})
				tag('input',d1,'',{ size:8 })

				tag('p',d1,'',{})
                //tag('br',p1,'',{} )
                let s1 = tag('span',d1,'',{style:"align-items: center;"})
                tag('text',s1,'Engagement End Date',{style:"align-items: center;"})
				tag('input',s1,'',{ size:10 })
				
				tag('p',d1,'',{})
				tag('br',p1,'Education',{} )
                tag('text',d1,'Education History',{})
                tag('textarea',d1,'',{})

				makeSurveyList( {   
                    parentId:targetParentId, 
                    index:'1', 
                    title:'AWSCertificationsTable',
                    label:'AWS Certifications', 
                    list:dbResults.certList,
                    percentage:"35%",
                 } )
				makeSurveyList( {   
                    parentId:targetParentId, 
                    index:'2', 
                    title:'ConsultingExpertise',
                    label:'Consulting Expertise', 
                    list:dbResults.consultingList,
                    percentage:"35%",
                 } )				
				makeSurveyList( 
                {   parentId:targetParentId, 
                    index:'3', 
                    title:'DevOpsAutomatedIntegration',
                    label:'DevOps Automated Integration', 
                    list:dbResults.DevOpsAutoIntegrationList,
                    percentage:"25%",
                 } )				


                makeSurveySubject({
                    title:'RolesTable',
                    label:'Roles',
                    parentId:targetParentId,
                    index:'4',
                    list:dbResults.rolesList,
                    percentage:"30%"
                })                    
                makeSurveySubject({
                    title:'DevToolsTable',
                    label:'Dev Tools Expertise (containerized IDE, basic repo, secrets management)',
                    parentId:targetParentId,
                    index:'5',
                    list:dbResults.devToolList,
                    percentage:"30%"
                })                    
                makeSurveySubject({
                    title:'AWSServicesTable',
                    label:'AWS Services',
                    parentId:targetParentId,
                    index:'6',
                    list:dbResults.serviceList,
                    percentage:"100%"
                })                    
                makeSurveySubject({
                    title:'DevLangTable',
                    label:'Dev Language Expertise (language sets and Operating Systems)',
                    parentId:targetParentId,
                    index:'7',
                    list:dbResults.devLanguageList,
                    percentage:"100%"
                })                    
                makeSurveySubject({
                    title:'DevOpsTable',
                    label:'DevOps Expertise (UI/CLI/IaC progressions for pipelines and basic account LeastPrivilegedAccess)',
                    parentId:targetParentId,
                    index:'8',
                    list:dbResults.devOpsList,
                    percentage:"100%"
                })                    
                makeSurveySubject({
                    title:'DevSecOpsTable',
                    label:'DevSecOps Expertise (standards, best practices, security frameworks, guardrails, tooling)',
                    parentId:targetParentId,
                    index:'9',
                    list:dbResults.devSecOpsList,
                    percentage:"100%"
                })                    
                makeSurveySubject({
                    title:'DataOpsTable',
                    label:'DataOps Expertise',
                    parentId:targetParentId,
                    index:'10',
                    list:dbResults.dataOpsList,
                    percentage:"100%"
                })                    
                makeSurveySubject({
                    title:'MLOpsTable',
                    label:'MLOps Expertise',
                    parentId:targetParentId,
                    index:'11',
                    list:dbResults.mlOpsList,
                    percentage:"100%"
                })                    

				makeDevOpsImplementationMatrix( targetParentId,"DevOps Implmentation Matrix", dbResults.DevOpsImplementationList );
				setupCollapsibles()// apply collapsible to all of the newly created elements
//				showSummaryGraph( targetParentId, dbResults )
//				makeChart( targetParentId )
			}

			let setupCollapsibles = function(){
				let coll = document.getElementsByClassName("collapsible");
				for (let i = 0; i < coll.length; i++) {
					coll[i].addEventListener("click", function() {
						this.classList.toggle("active");
						let content = this.nextElementSibling;
						if (content.style.display === "block") {
							content.style.display = "none";
						} else {
							content.style.display = "block";
						}
					});
				}
			}
/*
			let makeChart = function( pId )
			{
				const data = {
					labels: [
						'Eating',
						'Drinking',
						'Sleeping',
						'Designing',
						'Coding',
						'Cycling',
						'Running'
					],
					datasets: [{
						label: 'My First Dataset',
						data: [65, 59, 90, 81, 56, 55, 40],
						fill: true,
						backgroundColor: 'rgba(255, 99, 132, 0.2)',
						borderColor: 'rgb(255, 99, 132)',
						pointBackgroundColor: 'rgb(255, 99, 132)',
						pointBorderColor: '#fff',
						pointHoverBackgroundColor: '#fff',
						pointHoverBorderColor: 'rgb(255, 99, 132)'
					}, {
						label: 'My Second Dataset',
						data: [28, 48, 40, 19, 96, 27, 100],
						fill: true,
						backgroundColor: 'rgba(54, 162, 235, 0.2)',
						borderColor: 'rgb(54, 162, 235)',
						pointBackgroundColor: 'rgb(54, 162, 235)',
						pointBorderColor: '#fff',
						pointHoverBackgroundColor: '#fff',
						pointHoverBorderColor: 'rgb(54, 162, 235)'
					}]
				};

				const config = {
					type: 'radar',
					data: data,
					options: {
						elements: {
						line: {
							borderWidth: 3
						}
						}
					},
				};

				let chart1Id = tag('div', pId, '', {} )
				tag( 'canvas', chart1Id, '', { id:"myChart1" })

				var myChart = new Chart(
					document.getElementById('myChart1'),
					config
				);
			}


			let renderGraph = function( pChartId, pTargetId, pConfig )
			{
				let chartId = tag('div', pTargetId, '', {} )
				tag( 'canvas', chartId, '', { id: pChartId })

				var myChart = new Chart(
					document.getElementById( pChartId ),
					pConfig
				);
			}

			let showSummaryGraph = function( g_rulesAndResultsContainerId, resultsObject )
			{// resultsObject is normally an XHR read from a database returning json
				let labelNames = {}
				for( let idx in resultsObject ){
					labelNames[ resultsObject[ idx ] ] = {}
					labelNames[ resultsObject[ idx ] ].name = idx
					let cntr = 0;
					for( let n in resultsObject[ idx ] ){
						//console.log(idx + ' has ' + resultsObject[ idx ][ n ] + " " + cntr ) 
						cntr++
					}
					labelNames[ resultsObject[ idx ] ].count = cntr
				}

				let rotatingFillColors = [
					'rgba(255, 99, 132, 0.2)',
					'rgba(54, 162, 235, 0.2)',
					'rgba(205, 155, 0, 0.2)',
					'rgba(75, 192, 192, 0.2)',
					'rgba(153, 102, 255, 0.2)',
					'rgba(255, 159, 64, 0.2)',
				];

				let rotatingBorderColors = [
					'rgba(255, 99, 132, 1)',
					'rgba(54, 162, 235, 1)',
					'rgba(205, 155, 0, 1)',
					'rgba(75, 192, 192, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)',
				];

				let nameList = []
				let countList = []
				let rotatingIdx = 0
				let rotatingMaxIdx = 5
				let barColors = []
				let barBackgrounds = []
				for( let idx in labelNames ){
					//console.log("idx: " + labelNames[ idx ].name + " " +  labelNames[ idx ].count )
					if( labelNames[ idx ].name != undefined ){
						nameList.push(labelNames[ idx ].name);  //+= "'"+labelNames[ idx ].name+"',"
						countList.push(labelNames[ idx ].count) //+= "'"+labelNames[ idx ].count+"',"
						barColors.push( rotatingFillColors[ rotatingIdx ] )
						barBackgrounds.push( rotatingBorderColors[ rotatingIdx ] )
						rotatingIdx++
						if( rotatingIdx === rotatingMaxIdx) rotatingIdx = 0
					}
				}
				console.log("NAME.LIST: " + nameList )

				const chartData = {
					labels: nameList,
					datasets: [{
						label: '% of Skills',
						data: countList,
						backgroundColor: barColors,
						borderColor: barBackgrounds,
						borderWidth: 1
					}]
				};

				const chartConfig = {
					type: 'bar',
					data: chartData,
					options: {
						scales: {
							yAxes: [{
								ticks: {
									beginAtZero: true
								}
							}]
						}
					}
				};
				renderGraph( 'myChart7', g_rulesAndResultsContainerId, chartConfig )
			}// end of makeStylesCountGraph
*/
		</script>
	</head>

<!-- ############################################################################################################ -->
<!-- ############################################################################################################ -->
<!-- ############################################################################################################ -->
<!-- ############################################################################################################ -->
<!-- ############################################################################################################ -->

	<body id='1' class="body1">
		<script>
			let x = document.getElementsByTagName('body')
			let bodyId = x[ 0 ].id
			
			let mainSurveyAreaId = bulidMainMenu( bodyId )
			buildSurveyLayout( mainSurveyAreaId )
		</script>
	</body>
</html>