<!DOCTYPE html>
<html>
	<head>
		<title>Skills Survey: User CRUD</title>
		<link rel="stylesheet" href="surveyCSS" />
		<script src="tagJS"></script>
        <script src="databaseListsJS"></script>
        <script src="XHR"></script>
		<script>
            let cl = console.log
            let mainTableId
            let gNewRecords = []
            let gDbHeaderList = []
            let gUserData = []
            let gHarvestHeaderList = []
            let gMergeToDbData = []
            
            let gotoSurvey = function(){	location.href = "surveyHTML"	}

            // discover the db table schema so we can set column widths
            let getUserSchema = function(){
                let cfg = {
                    method:"POST",
                    url:"/MySQLIO",// this should be "endpoint" not "url"
                    syncMode:true,
                    log:'quiet',
                    dataPackage:
                        // put session auth here
                        "&query=getUserStruct",
                    callback:function(obj){ parseUserTableStruct( obj ) }
                }
                XHR( cfg )
            }
            let parseUserTableStruct = function( pObj ){
                //console.log("parseTableStruct(): " + JSON.stringify( pObj ) )
                let newObj = JSON.parse( pObj )
                for( let idx in newObj ){
                    //cl( ">>"+JSON.stringify( newObj[ idx ] ) )
                    gDbHeaderList.push( newObj[ idx ]['Field'] )
                }
                getHarvestSchema();
            }

            // discover the db table schema so we can set column widths
            let getHarvestSchema = function(){
                cl("getHarvestSchema()")
                let cfg = {
                    method:"POST",
                    url:"/MySQLIO",// this should be "endpoint" not "url"
                    syncMode:true,
                    log:'loud',
                    dataPackage:
                        // put session auth here
                        "&query=getHarvestStruct",
                    callback:function(obj){ parseHarvestTableStruct( obj ) }
                }
                XHR( cfg )
            }
            let parseHarvestTableStruct = function( pObj ){
                //console.log("parseTableStruct(): " + JSON.stringify( pObj ) )
                let newObj = JSON.parse( pObj )
                for( let idx in newObj ){
                    //cl( ">"+JSON.stringify( newObj[ idx ] ) )
                    gHarvestHeaderList.push( newObj[ idx ]['Field'] )
                }
                makeUserForm( document.body.id )
                getUsersFromDB()
            }


            let getUsersFromDB = function(){
                let cfg = {
                    method:"POST",
                    url:"/MySQLIO",// this should be "endpoint" not "url"
                    syncMode:true,
                    log:'quiet',
                    dataPackage:
                        // put session auth here
                        "&query=getUserData",
                    callback:function(obj){ parseUserDBData( obj ) }
                }
                XHR( cfg )
            }
            let parseUserDBData = function( pObj ){
                let users = JSON.parse( pObj )
                console.log('\n\n\nusers=' + JSON.stringify( users[0]['name_first'] ) )
/*				for( let i in users ){
					tag('option', gSelectId, users[ i ]['name_first'] + " " + users[ i ]['name_last'],{ 
						'value': users[ i ]['name_first'] + " " + users[ i ]['name_last']
					})
				}*/
                addRecordsToUITable({
                    userList: users ,
                    id:mainTableId
                })

            }


            let buildSQLInsert = function( pNewObj ){
                cl("... buildSQLInsert ... \n")
                let dbRecords = []
                let viewRecords = []
                // use harvest_temp struct to form records from harverst API data
                // for every record to be transposed
                for( let r in pNewObj ){
                    //cl("### " + JSON.stringify( pNewObj[ r ] ) )
                    let dbObj = {}
                    let viewObj = {}
                    let tEmp = ''
                    let tActive = 'N'
                    dbObj = {
                        //'rid':          '',
                        'employee_no':  pNewObj[ r ][ 'employee_no' ],
                        'name_last':    pNewObj[ r ][ 'name_last' ],
                        'name_first':   pNewObj[ r ][ 'name_first' ],
                        //'name_middle':  '',
                        'email':        pNewObj[ r ][ 'email' ],
                        //'active':       pNewObj[ r ][ 'active' ],
                        //'deleted':      '',
                        'harvest_id':   pNewObj[ r ][ 'harvest_id' ],
                    }
                    viewObj = {
                        'rid':          '',
                        'employee_no':  pNewObj[ r ][ 'employee_no' ],
                        'name_last':    pNewObj[ r ][ 'name_last' ],
                        'name_first':   pNewObj[ r ][ 'name_first' ],
                        'name_middle':  '',
                        'email':        pNewObj[ r ][ 'email' ],
                        'active':       pNewObj[ r ][ 'active' ],
                        'deleted':      '',
                        'harvest_id':   pNewObj[ r ][ 'harvest_id' ],
                    }
                    dbRecords.push( dbObj )
                    viewRecords.push( viewObj )
                }
                //makeUserForm( document.body.id )
                addRecordsToUITable({
                    userList: viewRecords ,
                    id:mainTableId
                })

                // remove the properties of the string
                let sqlString = ""
                let rCtr=0;
                for( let i in dbRecords ){
                    if( rCtr !== 0 ){ sqlString += ","; }else{ rCtr++; }
                    sqlString += '('
                    let pCtr = 0
                    for( let r in dbRecords[ i ]){
                        if( pCtr !== 0 ){ sqlString += ","; }else{ pCtr++; } 
                        sqlString += '"'+ dbRecords[ i ][ r ]+'"'
                    }
                    sqlString += ')'
                }
                sqlString += ';'

                saveAPIUserDataToDb( sqlString )
            }// end of buildSQLInsert

            // discover the db table schema so we can set column widths
            let saveAPIUserDataToDb = function( pSqlString){
                let cfg = {
                    method:"POST",
                    url:"/MySQLIO",// this should be "endpoint" not "url"
                    syncMode:true,
                    log:'quiet',
                    dataPackage:
                        // put session auth here
                        "&query=saveAPIUserData"
                        +"&data="+pSqlString,
                    callback:function(obj){  }
                }
                XHR( cfg )
            }

			let makeUserForm = function( pParentId ){
				tag('button', pParentId, 'Go to Survey', {
					style:" width: 25%;", 
					class:"menuButton", 
					onclick:"gotoSurvey();"
				})
				tag('button', pParentId, 'Update Temp Users from Harvest',{
					style:" width: 25%;", 
					class:"menuButton",
                    onclick:"getUsersFromAPI();"
				})
				tag('button', pParentId, 'Merge Temp Users to User Database',{
					style:" width: 25%;", 
					class:"menuButton",
                    onclick:"mergeTempUsersToUserDatabase();"
				})
				tag('button', pParentId, 'Test Users to Database',{
					style:" width: 25%;", 
					class:"menuButton",
                    onclick:"getUserSchema();"
				})
                makeUserCrudForm( pParentId )
			}


            let getMaxDataWidth = function(){
                let maxRecLength = 0;
                let hdrLength = 0;
                for( let idx in gDbHeaderList ){
                    console.log(gDbHeaderList[idx])
                    hdrLength += gDbHeaderList[ idx ].length 
                }
                cl("HdrLength    : " + hdrLength );
                return {'MaxRecLength':maxRecLength, 'HdrLength':hdrLength}
            }

            let setScreenWidth = function ( pWidths ){}

            let addRecordsToUITable = function( pRecordSetObj ){
                let row = []
                for( let rowIdx in  pRecordSetObj.userList ){
                    row[ rowIdx ] = tag('tr', pRecordSetObj.id, '', {} )
                    for( let hdr in pRecordSetObj.userList[ rowIdx ] ){
                        let t = tag('td', row[ rowIdx ], '', {} )//dbResults.user[ rowIdx ][ hdr ], {} )
                        /*cl("switch on " + hdr )
                        let inputType = 'text';
                        switch( dbResults.user_type_map[hdr] ){
                            case 'tinyint(1)':  inputType = 'checkbox'; break;
                            default:            inputtype = 'text';     break;
                        }*/
                        let i = tag('input', t,'', { type: 'text'})//inputType })
                        document.getElementById( i ).value = pRecordSetObj.userList[ rowIdx ][ hdr ] 
                    }
					let t = tag('td', row[ rowIdx ], '', {} )
					tag('a', t, '...',{href:'www.google.com'})
                }
            }


            // MIKE!!! make function that loads the names in after the fact, either from db or api
            let makeUserCrudForm = function( pParentId ){
                // mae a table w/ columns per data.  if too big, set page width > 100%
                // find max record width
                let widths = getMaxDataWidth();
                setScreenWidth( widths )

                mainTableId = tag('table', pParentId, '', {} )
                let tableHdrRowId = tag('tr', mainTableId, '', {} )
                for( let hdr in gDbHeaderList ){
                    tag('th', tableHdrRowId, gDbHeaderList[ hdr ], {} )
                }
                tag('th', tableHdrRowId, 'menu', {} )
                addRecordsToUITable({
                    userList: gUserData ,//dbResults.user,
                    id:mainTableId
                })
                /*
                let row = []
                for( let rowIdx in  dbResults.user ){
                    row[ rowIdx ] = tag('tr', mainTableId, '', {} )
                    for( let hdr in dbResults.user[ rowIdx ] ){
                        let t = tag('td', row[ rowIdx ], '', {} )//dbResults.user[ rowIdx ][ hdr ], {} )
                        cl("switch on " + hdr )
                        let inputType = 'text';
                        switch( dbResults.user_type_map[hdr] ){
                            case 'tinyint(1)':  inputType = 'checkbox'; break;
                            default:            inputtype = 'text';     break;
                        }
                        let i = tag('input', t,'', { type: inputType })
                        document.getElementById( i ).value = dbResults.user[ rowIdx ][ hdr ] 
                    }
					let t = tag('td', row[ rowIdx ], '', {} )
					tag('a', t, '...',{href:'www.google.com'})
                }*/
            }

            //API
            async function getUsersFromAPI() {
                var headers = {
                    "User-Agent": "Node.js Harvest API Sample",
                    "Authorization": "Bearer "+ document.getElementById( 'token' ).value,
                    "Harvest-Account-ID": document.getElementById( 'accountId' ).value 
                };
                var options = {
                    "method": "get",
                    "headers": headers
                };

                let url ="https://api.harvestapp.com/v2/users"
                let myObject = await fetch( url, options );
                let myText = await myObject.text();
                console.log( typeof myText )
                console.log( myText )

                let parsedText = JSON.parse( myText )
                console.log( typeof parsedText )
                console.log( '***\nparsedText = ' + JSON.stringify( parsedText ) )

                let idx = 0;
                for( let i in parsedText['users'] ){
                    // CAPTURE ONLY THE ACTIVE FOLKS
                    gNewRecords[ idx ] = {}
                    gNewRecords[ idx ]['name_first'] = parsedText['users'][ i ].first_name
                    gNewRecords[ idx ]['name_last'] = parsedText['users'][ i ].last_name
                    gNewRecords[ idx ]['employee_no'] = parsedText['users'][ i ][ 'roles' ][0]
                    gNewRecords[ idx ]['email'] = parsedText['users'][ i ].email
                    gNewRecords[ idx ]['TZ'] = parsedText['users'][ i ].timezone
                    gNewRecords[ idx ]['harvest_id'] = parsedText['users'][ i ].id
                    
                    //console.log( typeof gNewRecords[ idx ]['employee_no'] + ": " + gNewRecords[ idx ]['employee_no'] )
                    if( typeof gNewRecords[ idx ]['employee_no'] === 'string'){
                        if( gNewRecords[ idx ]['employee_no'].search("undefined") === -1 ){
                            gNewRecords[ idx ]['active'] = 'Y'
                            gNewRecords[ idx ]['role'] = 'DAE'
                            gNewRecords[ idx ]['deleted'] = 'N'
                            idx++;
                        }
                    }
                    console.log( '\n***\ngNewRecords[ idx ] = ' + JSON.stringify( gNewRecords[ idx ] ) )
                }
                buildSQLInsert( gNewRecords )
            }// end of getUsersFromAPI


            async function mergeTempUsersToUserDatabase(){
                let cfg = {
                    method:"POST",
                    url:"/MySQLIO",
                    syncMode:true,//xhrKey:sessionStorage.getItem('webn8rSession'),
                    dataPackage:
                        //"webn8rSessionInfo=" + sessionStorage.getItem('webn8rSessionInfo')+
                        "&query=mergeTempIntoUsers" ,
                    callback:function(obj){  }
                };
                cl("SENDING cfg: " + JSON.stringify(cfg));
                XHR( cfg )
            }// end of mergeUsersToDatabase


            // MIKE: UPGRADE MYSQLIO to use the fetch IO protocol
            let writeUsersToDB = function( dataObject )
            {   console.log("\n\n#######################################\nwriteScoreDataToDB() ..")
                // FIRST SENTRY POINT
                if( 
                    dataObject.user !== null &&
                    dataObject.session !== null
                ){
                    console.log("Attempting to send data: " + JSON.stringify( dataObject ) );
                    let cfg = {
                        method:"POST",
                        url:"/MySQLIO",
                        syncMode:true,//xhrKey:sessionStorage.getItem('webn8rSession'),
                        dataPackage:
                            "webn8rSessionInfo=" + sessionStorage.getItem('webn8rSessionInfo')+
                            "&query=write linker score to db" + 
                            "&json=" + JSON.stringify(dataObject),

                        callback:function(obj){ readAllResultsFromDataBase() }
                    };
                    cl("SENDING cfg: " + JSON.stringify(cfg));
                    XHR( cfg );
                }
            }// end of writeScoreDataToDB

		</script>
	</head>

	<body id='1'>
        <label for="accountId">MGR AccountID:</label>
        <input type="text" id="accountId" name="accountId">
        <label for="token">Token:</label>
        <input type="text" id="token" name="token"><br>

		<script>
            getUserSchema();
		</script>
	</body>
</html>