<html>
	<head>
		<title>Remote CBL</title>
		<link rel="stylesheet" href="survey.css" />
		<script src="../tag.js"></script>
	</head>

	<body id='1'>
		<script>
			let dropDownSet = []
			let divIds = []
			let divCtr = 0
			let cl = console.log

			// LAYOUT
			let tblId = tag('table','1','',{width:'100%'} )
			let tr1Id = tag( 'tr', tblId, '', {style:'vertical-align: top;'} )
			let td1Id = tag( 'td', tr1Id, '', {width:'40%'} )
			let td2Id = tag( 'td', tr1Id, '', {width:'10%'} )
			let td3Id = tag( 'td', tr1Id, '', {width:'40%'} )



			let makeCheckBoxList = function( pParentId, pCheckBoxListItems) {
				pCheckBoxListItems.parentId = pParentId
				divCtr++
				divIds[ divCtr ] = tag('div', pCheckBoxListItems.parentId, '',{
					id:"list"+divCtr, 
					class:"dropdown-checkbox-list", 
					style:'vertical-align: top;',
					tabindex:"100"
				})
				pCheckBoxListItems.id = divId = divIds[ divCtr ]
				pCheckBoxListItems.checkBoxListSpanId = tag('span', divId, 'Select '+pCheckBoxListItems.type,{ class:"anchor"} )
				let ulId = pCheckBoxListItems.checkBoxListUlId = tag('ul', divId,'',{ class:'items' })
				let li = []
				let inputsId = []
				for( let i in pCheckBoxListItems.list ){
					li[ i ] = tag( 'li', ulId,'',{})
					pCheckBoxListItems.checkboxIds[ i ] = tag( 'input', li[ i ], '', { 
						type:"checkbox",
						//THIS WORKS: onclick:'console.log("ping");'
						// THIS WORKS: onclick:"dropDownSet[ 'fruit ' ].getValues();"
						onclick:pCheckBoxListItems.name + ".getValues();"
					})
					tag('label',li[ i ],pCheckBoxListItems.list[ i ],{})
				}
			}

			let mapBits = function( pThis ){
				pThis.bitmap = 0;
					for(let i in pThis.list){
						if( document.getElementById( pThis.checkboxIds[ i ] ).checked ){
							pThis.bitmap = pThis.bitmap + (1<<i)
						}
					}
					console.log( pThis.type + ": "+ pThis.bitmap )
			}

			dropDownSet[ 'levelList' ] = {
				parentId:td1Id,
				id:'',
				checkBoxListSpanId:'',
				checkBoxListUlId:'',
				type:'levelList',
				name:"dropDownSet[ 'levelList' ]",
				//type:'levelList',//"+this.type+"
				list:[
					'unknown',
					'know_what_its_for',
					'used_and_understood',
					'used_in_custom_project',
					'used_frequently',
					'used_frequently_and_in_depth',
				],
				checkboxIds:[],
				bitmap:0,
				getValues:function(){
					this.bitmap = 0;
					for(let i in this.list){
						if( document.getElementById( this.checkboxIds[ i ] ).checked ){
							this.bitmap = this.bitmap + (1<<i)
						}
					}
					console.log( this.type + ": "+ this.bitmap )
				},
				showCheckBoxList:function(){
					cl('showCheckBoxList: ' + this.id )
					cl('show checkBoxListId: ' + this.checkBoxListSpanId )
					cl('show checkBoxList ulId: ' +this.checkBoxListUlId )

/* BREAKS!!!!!  There's not obvious reason why I needed to create a local variable tid.id that has been 
assigned the same value as this.checkBoxListUlId and use THAT in this code block.  HOWEVER, at this time
it is required to allow it to function.  Otherwise document.getElementById( this.checkBoxListUlId ) 
returns null. ... ?WTF
					document.getElementById( this.checkBoxListSpanId ).onclick = function(evt) {
						if (document.getElementById( this.checkBoxListUlId ).style.display === "block"){
							document.getElementById( this.checkBoxListUlId ).style.display = "none"
						}else{
							document.getElementById( this.checkBoxListUlId ).style.display = "block"
						}
					}*/
					// THIS IS A WORKAROUND FOR THE BREAK DESCRIBED ABOVE
					let tid = document.getElementById( this.checkBoxListUlId )
					cl( 'show tid: ' + tid.id )
					document.getElementById( this.checkBoxListSpanId ).onclick = function(evt) {
						if (document.getElementById( tid.id ).style.display === "block"){
							document.getElementById( tid.id ).style.display = "none"
						}else{
							document.getElementById( tid.id ).style.display = "block"
						}
					}
				}
			}

			dropDownSet[ 'methodList' ] = {
				id:'',
				parentId:td2Id,
				name:"dropDownSet[ 'methodList' ]",
				type:'methodList',
				list:[
					'unused',
					'can_use_via_console',
					'can_use_via_CLI',
					'can_use_via_IaC',
					'can_integrate_with_Tooling',
					'can_configure_via_console',
					'can_configure_via_CLI',
					'can_configure_via_IaC',
					'can_configure_in_multi_regions',	
					'can_extend_with_custom_tools',
				],
				checkboxIds:[],
				bitmap:0,
				getValues:function(){
					this.bitmap = 0;
					for(let i in this.list){
						if( document.getElementById( this.checkboxIds[ i ] ).checked ){
							this.bitmap = this.bitmap + (1<<i)
						}
					}
					console.log( this.type + ": "+ this.bitmap )
				},
				showCheckBoxList:function(){
					cl('showCheckBoxList: ' + this.id )
					cl('show checkBoxListId: ' + this.checkBoxListSpanId )
					cl('show checkBoxList ulId: ' +this.checkBoxListUlId )

/* BREAKS!!!!!  There's not obvious reason why I needed to create a local variable tid.id that has been 
assigned the same value as this.checkBoxListUlId and use THAT in this code block.  HOWEVER, at this time
it is required to allow it to function.  Otherwise document.getElementById( this.checkBoxListUlId ) 
returns null. ... ?WTF
					document.getElementById( this.checkBoxListSpanId ).onclick = function(evt) {
						if (document.getElementById( this.checkBoxListUlId ).style.display === "block"){
							document.getElementById( this.checkBoxListUlId ).style.display = "none"
						}else{
							document.getElementById( this.checkBoxListUlId ).style.display = "block"
						}
					}*/
					// THIS IS A WORKAROUND FOR THE BREAK DESCRIBED ABOVE
					let tid = document.getElementById( this.checkBoxListUlId )
					cl( 'show tid: ' + tid.id )
					document.getElementById( this.checkBoxListSpanId ).onclick = function(evt) {
						if (document.getElementById( tid.id ).style.display === "block"){
							document.getElementById( tid.id ).style.display = "none"
						}else{
							document.getElementById( tid.id ).style.display = "block"
						}
					}
				}
			}
		
			makeCheckBoxList( td1Id, dropDownSet[ 'levelList' ] )	
			dropDownSet[ 'levelList' ].showCheckBoxList();
			makeCheckBoxList( td3Id, dropDownSet[ 'methodList' ] )			
			dropDownSet[ 'methodList' ].showCheckBoxList();

		</script>
	</body>
</html>