<!DOCTYPE html>
<html>
	<head>
		<title>Skills Survey: HealthCheck</title>
		<script>
            let cl = console.log
			let gotoSurvey = function(){    location.href = "surveyHTML"    }
            let gotoDbAdmin = function(){   location.href = "dbAdminHTML"   }

            let getMeFromHarvestAPI = function(){       getFromHarvestAPI( "https://api.harvestapp.com/v2/users/me" )}
            let getBillingFromHarvestAPI = function(){  getFromHarvestAPI( "https://api.harvestapp.com/v2/reports/time/team?from=20211018&to=20211025" )}
            async function getFromHarvestAPI( pUrl ) {
                var headers = {
                    "User-Agent": "Node.js Harvest API Sample",
                    "Authorization": "Bearer "+ document.getElementById( 'HarvestToken' ).value,
                    "Harvest-Account-ID": document.getElementById( 'HarvestAccountId' ).value
                };
                var options = {
                    "method": "get",
                    "headers": headers
                };

                let myObject = await fetch( pUrl, options );
                let myText = await myObject.text();
                    console.log( typeof myText ); console.log( myText )
                let parsedText = JSON.parse( myText )
                    console.log( typeof parsedText ); console.log( parsedText )
            }

            let bamboo_url = "https://api.bamboohr.com/api/gateway.php/stelligent/v1/employees/directory"
            let getMeFromBambooAPI = function(){       getFromBambooAPI( "https://stelligent.bamboohr.com/reports/custom/Directory/207" )}
            async function getFromBambooAPI( pUrl ){
                var headers = {
                    "User-Agent": "Node.js Bamboo API Sample",
                    "Authorization": "Bearer "+ document.getElementById( 'BambooToken' ).value,
                    "Bamboo-Account-ID": document.getElementById( 'BambooAccountId' ).value
                };
                var options = {
                    "method": "get",
                    "headers": headers
                };

                let myObject = await fetch( pUrl, options );
                let myText = await myObject.text();
                    console.log( typeof myText ); console.log( myText )
                let parsedText = JSON.parse( myText )
                    console.log( typeof parsedText ); console.log( parsedText )
            }

		</script>
	</head>
	<body style="background-image: linear-gradient(to bottom right, #999999, #000000);">
		<button onclick="gotoSurvey();">
			goto survey
		</button><br><br>
		<h5>Database connection:</h5>
        <button onclick="gotoDbAdmin();">dB</button><br><br><br>

		<h5>Harvest API connection:</h5>
        <label for="HarvestAccountId">AccountID:</label>
        <input type="text" id="HarvestAccountId" name="HarvestAccountId" value="XXXXXX"><br>
        <label for="HarvestToken">Token:</label>
        <input type="text" id="HarvestToken" name="HarvestToken"><br>
        <button onclick="getMeFromHarvestAPI();">getMeFromHarvestAPI</button>
        <button onclick="getBillingFromHarvestAPI();">getBillingFromHarvestAPI</button><br><br><br>

		<h5>Bamboo API connection:</h5>
        <label for="BambooAccountId">AccountID:</label>
        <input type="text" id="BambooAccountId" name="BambooAccountId" value="XXXXXX"><br>
        <label for="BambooToken">Token:</label>
        <input type="text" id="BambooToken" name="BambooToken"><br>
        <button onclick="getMeFromBambooAPI();">getMeFromBambooAPI</button>
        <button onclick="getRosterFromBambooAPI();">getRosterFromBambooAPI</button>

		<h5>Unit Test Completion %:</h5>
	</body>
</html>