<!DOCTYPE html>
<html>
	<head>
		<title>Skills Survey: User CRUD</title>
		<link rel="stylesheet" href="survey.css" />		
		<script src="../tag.js"></script>
        <script src="databaseLists.js"></script>
		<script>
			let gotoSurvey = function(){	location.href = "survey.html"	}

			let makeUserForm = function( pParentId ){
				tag('button', pParentId, 'User CRUD',{
						style:" width: 33%;", 
						class:"menuButton",
						onclick:"gotoUserCRUD();",
				})
				tag('button', pParentId, 'Update Users from Harvest',{
					style:" width: 33%;", 
					class:"menuButton"
				})
				tag('button', pParentId, 'Go to Survey', {
					style:" width: 33%;", 
					class:"menuButton", 
					onclick:"gotoSurvey();"
				})
				
				getUsersFromDatabase()
                makeUserCrudForm( pParentId )
			}

			let getUsersFromDatabase = function(){
			}

            let cl = console.log

            let getMaxDataWidth = function(){
                let maxRecLength = 0;
                let hdrLength = 0;
                for( let idx in dbResults.user ){
                    let recLength = 0;
                    hdrLength = 0;
                    for( let rec in dbResults.user[ idx ] ){
                        cl( idx + ":" + rec + ": " + dbResults.user[ idx ][ rec ].length + "  " + dbResults.user[ idx ][ rec ] )
                        recLength += dbResults.user[ idx ][ rec ].length 
                        hdrLength += rec.length
                    }
                    if( recLength > maxRecLength ) maxRecLength = recLength
                }
                cl("MaxRecLength: " + maxRecLength );
                cl("HdrLength    : " + hdrLength );
                return {'MaxRecLength':maxRecLength, 'HdrLength':hdrLength}
            }

            let setScreenWidth = function ( pWidths ){}

            let makeUserCrudForm = function( pParentId ){
                // mae a table w/ columns per data.  if too big, set page width > 100%
                // find max record width
                let widths = getMaxDataWidth();
                setScreenWidth( widths )

                let tableId = tag('table', pParentId, '', {} )
                let tableHdrRowId = tag('tr', tableId, '', {} )
                for( let hdr in dbResults.user[ 0 ] ){
                    tag('th', tableHdrRowId, hdr, {} )
                }
                tag('th', tableHdrRowId, 'menu', {} )

                let row = []
                for( let rowIdx in  dbResults.user ){
                    row[ rowIdx ] = tag('tr', tableId, '', {} )
                    for( let hdr in dbResults.user[ rowIdx ] ){
                        let t = tag('td', row[ rowIdx ], '', {} )//dbResults.user[ rowIdx ][ hdr ], {} )
                        cl("switch on " + hdr )
                        let inputType = 'text';
                        switch( dbResults.user_type_map[hdr] ){
                            case 'tinyint(1)':  inputType = 'checkbox'; break;
                            default:            inputtype = 'text';     break;
                        }
                        let i = tag('input', t,'', { type: inputType })
                        document.getElementById( i ).value = dbResults.user[ rowIdx ][ hdr ] 
                    }
					let t = tag('td', row[ rowIdx ], '', {} )
					tag('a', t, '...',{href:'www.google.com'})
                }
            }

		</script>
	</head>

	<body id='1'>
		<script>
			makeUserForm( document.body.id )
		</script>
	</body>
</html>