<!DOCTYPE html>
<html>
	<head>
		<title>Skills Survey: User CRUD</title>
		<link rel="stylesheet" href="surveyCSS" />
		<script src="tagJS"></script>
		<script src="databaseListsJS"></script>
		<script>
            let mainTableId

			let gotoSurvey = function(){	location.href = "surveyHTML"	}

			let makeUserForm = function( pParentId ){
				tag('button', pParentId, 'Go to Survey', {
					style:" width: 33%;", 
					class:"menuButton", 
					onclick:"gotoSurvey();"
				})
				tag('button', pParentId, 'Update Users from Harvest',{
					style:" width: 33%;", 
					class:"menuButton",
                    onclick:"getUsersFromAPI();"
				})
				
				getUsersFromDatabase()
                makeUserCrudForm( pParentId )
			}

			let getUsersFromDatabase = function(){}

            let cl = console.log

            let getMaxDataWidth = function(){
                let maxRecLength = 0;
                let hdrLength = 0;
                for( let idx in dbResults.user ){
                    let recLength = 0;
                    hdrLength = 0;
                    for( let rec in dbResults.user[ idx ] ){
                        cl( idx + ":" + rec + ": " + dbResults.user[ idx ][ rec ].length + "  " + dbResults.user[ idx ][ rec ] )
                        recLength += dbResults.user[ idx ][ rec ].length 
                        hdrLength += rec.length
                    }
                    if( recLength > maxRecLength ) maxRecLength = recLength
                }
                cl("MaxRecLength: " + maxRecLength );
                cl("HdrLength    : " + hdrLength );
                return {'MaxRecLength':maxRecLength, 'HdrLength':hdrLength}
            }

            let setScreenWidth = function ( pWidths ){}

            let addRecordsToTable = function( pRecordSetObj ){
                //cl( ">>" + JSON.stringify( pRecordSetObj ))
                let row = []
                for( let rowIdx in  pRecordSetObj.userList ){
                //for( let rowIdx in  dbResults.user ){
                    //cl( ">>>" + JSON.stringify( pRecordSetObj.userList[ rowIdx ] ))
                    row[ rowIdx ] = tag('tr', pRecordSetObj.id, '', {} )
                    //cl( ">>>" + JSON.stringify( pRecordSetObj.userList[ rowIdx ] ))
                    for( let hdr in pRecordSetObj.userList[ rowIdx ] ){
                    //for( let hdr in dbResults.user[ rowIdx ] ){
                        //cl( ">>>>" + JSON.stringify( pRecordSetObj.userList[ rowIdx ][ hdr ] ))
                        let t = tag('td', row[ rowIdx ], '', {} )//dbResults.user[ rowIdx ][ hdr ], {} )
                        /*cl("switch on " + hdr )
                        let inputType = 'text';
                        switch( dbResults.user_type_map[hdr] ){
                            case 'tinyint(1)':  inputType = 'checkbox'; break;
                            default:            inputtype = 'text';     break;
                        }*/
                        let i = tag('input', t,'', { type: 'text'})//inputType })
                        document.getElementById( i ).value = pRecordSetObj.userList[ rowIdx ][ hdr ] 
                    }
					let t = tag('td', row[ rowIdx ], '', {} )
					tag('a', t, '...',{href:'www.google.com'})
                }
            }

            // MIKE!!! make function that loads the names in after the fact, either from db or api
            let makeUserCrudForm = function( pParentId ){
                // mae a table w/ columns per data.  if too big, set page width > 100%
                // find max record width
                let widths = getMaxDataWidth();
                setScreenWidth( widths )

                mainTableId = tag('table', pParentId, '', {} )
                let tableHdrRowId = tag('tr', mainTableId, '', {} )
                for( let hdr in dbResults.user[ 0 ] ){
                    tag('th', tableHdrRowId, hdr, {} )
                }
                tag('th', tableHdrRowId, 'menu', {} )
                addRecordsToTable({
                    userList:{},//dbResults.user,
                    id:mainTableId
                })
                /*
                let row = []
                for( let rowIdx in  dbResults.user ){
                    row[ rowIdx ] = tag('tr', mainTableId, '', {} )
                    for( let hdr in dbResults.user[ rowIdx ] ){
                        let t = tag('td', row[ rowIdx ], '', {} )//dbResults.user[ rowIdx ][ hdr ], {} )
                        cl("switch on " + hdr )
                        let inputType = 'text';
                        switch( dbResults.user_type_map[hdr] ){
                            case 'tinyint(1)':  inputType = 'checkbox'; break;
                            default:            inputtype = 'text';     break;
                        }
                        let i = tag('input', t,'', { type: inputType })
                        document.getElementById( i ).value = dbResults.user[ rowIdx ][ hdr ] 
                    }
					let t = tag('td', row[ rowIdx ], '', {} )
					tag('a', t, '...',{href:'www.google.com'})
                }*/
            }



            //API
            async function getUsersFromAPI() {
                var headers = {
                    "User-Agent": "Node.js Harvest API Sample",
                    "Authorization": "Bearer "+ document.getElementById( 'token' ).value,
                    "Harvest-Account-ID": document.getElementById( 'accountId' ).value 
                };
                var options = {
                    "method": "get",
                    "headers": headers
                };

                let url ="https://api.harvestapp.com/v2/users"
                let myObject = await fetch( url, options );
                let myText = await myObject.text();
                console.log( typeof myText )
                console.log( myText )

                let parsedText = JSON.parse( myText )
                console.log( typeof parsedText )
                console.log( 'parsedText = ' + parsedText )

                let newRecords = []
                let idx = 0;
                for( let i in parsedText['users'] ){
                    // CAPTURE ONLY THE ACTIVE FOLKS
                    newRecords[ idx ] = {}
                    newRecords[ idx ]['name_first'] = parsedText['users'][ i ].first_name
                    newRecords[ idx ]['name_last'] = parsedText['users'][ i ].last_name
                    newRecords[ idx ]['employee_no'] = parsedText['users'][ i ][ 'roles' ][0]
                    newRecords[ idx ]['email'] = parsedText['users'][ i ].email
                    newRecords[ idx ]['TZ'] = parsedText['users'][ i ].timezone
                    
                    console.log( typeof newRecords[ idx ]['employee_no'] + ": " + newRecords[ idx ]['employee_no'] )
                    if( typeof newRecords[ idx ]['employee_no'] === 'string'){
                        if( newRecords[ idx ]['employee_no'].search("undefined") === -1 ){
                            newRecords[ idx ]['active'] = 'Y'
                            newRecords[ idx ]['role'] = 'DAE'
                            newRecords[ idx ]['deleted'] = 'N'
                            idx++;
                        }
                    }
                }
                addRecordsToTable({
                    userList: newRecords,
                    id:mainTableId
                })

                // save in the harvest tamp table
                // compare this list with existing list, add newbies

            }

		</script>
	</head>

	<body id='1'>
        <label for="accountId">MGR AccountID:</label>
        <input type="text" id="accountId" name="accountId">
        <label for="token">Token:</label>
        <input type="text" id="token" name="token"><br>

		<script>
			makeUserForm( document.body.id )
		</script>
	</body>
</html>